.videoCard {
    width: 500px;
    height: 400px;
    padding: 20px;
    cursor: pointer;
    margin: 0.5 1.5rem;
    transition: transform 100ms;
    color: #fff;
  }
  
  .videoCard:hover {
    transform: scale(1.09);
  }
  
  .videoCard > img {
    height: 270px;
    object-fit: contain;
    width: 500px;
  }
  
  .videoCard > h2 {
    padding-top: 1px;
  }
  
  .videoCard__stats {
    opacity: 0;
    pointer-events: none;
  }
  
  .videoCard:hover > .videoCard__stats {
    opacity: 1;
    pointer-events: all;
    display: flex;
    align-items: center;
  }

  .videoCard > p {
    
    display: flex;
    justify-content: space-between;

  }